@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #2f3136;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

* {
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins';
  padding-top: 100px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
