@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #2f3136;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
* {
  margin: 0;
  box-sizing: border-box; /* Thêm box-sizing để kiểm soát kích thước phần tử */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins';
  min-height: 100vh; /* Đảm bảo body có chiều cao tối thiểu */
}

header {
  position: sticky; /* Dán navbar vào đầu trang */
  top: 0; /* Ở trên cùng */
  z-index: 1000; /* Đảm bảo navbar ở trên cùng */
  width: 100%; /* Đảm bảo navbar chiếm toàn bộ chiều rộng */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
