.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f3136;
  padding: 1rem 2rem;
  color: #ecf0f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;

    .navbar-link {
      color: #ecf0f1;
      text-decoration: none;

      &:hover {
        color: #3498db;
      }
    }
  }

  .navbar-hamburger {
    display: none;
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 1.5rem;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .navbar-fullscreen-menu {
    display: none; /* Default is hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ecf0f1;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &.active {
      display: flex;
    }

    .navbar-links {
      display: flex;
      flex-direction: column;
      align-items: center;

      .navbar-link {
        color: #ecf0f1;
        text-decoration: none;
        font-size: 1.5rem;
        margin: 1rem 0;

        &:hover {
          color: #3498db;
        }
      }

      .navbar-dropdown {
        color: #ecf0f1;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        margin: 1rem 0;

        &:hover {
          color: #3498db;
        }

        .anticon-down {
          margin-left: 0.3rem;
        }
      }

      .navbar-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
